<div class="header-manual header">
<h2>Student Leaves</h2>
</div>
<div class="col-12">
    <button mat-raised-button color="primary" (click)="AddNewLeave()">Add New Leave</button>

</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container> -->
    <ng-container matColumnDef="student">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.student}} </td>
    </ng-container>
    <ng-container matColumnDef="studentClass">
      <th mat-header-cell *matHeaderCellDef> class </th>
      <td mat-cell *matCellDef="let element"> {{element.studentClass}} </td>
    </ng-container>
    <ng-container matColumnDef="studentSection">
      <th mat-header-cell *matHeaderCellDef> section </th>
      <td mat-cell *matCellDef="let element"> {{element.studentSection}} </td>
    </ng-container>
    <ng-container matColumnDef="reason">
        <th mat-header-cell *matHeaderCellDef> Reason </th>
        <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
      </ng-container>
    <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Leave Date </th>
        <td mat-cell *matCellDef="let element"> {{element.startDate}}---{{element.endDate}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
      
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  
  
  
  
